{
	order s3proxy last
	debug
}

:80 {
	log
	respond /health-check "OK" 200
	respond /test "This is working" 200

	# Example using strip prefix
	route /dev/testing/coverage-reports/* {
		uri strip_prefix /dev/testing/coverage-reports
                s3proxy {
                        region "us-west-2"
                        bucket "test-results"
			endpoint "http://localstack:4566/"
			force_path_style
                }
	}

	route /animals/* {
		# It can be useful to have the root and s3proxy
		# in the same route to limit the scope of the root.
		# Especially important if also doing a file server.
		root * /a/long/path/we/have/for
                s3proxy {
                        region "us-west-2"
                        bucket "bkt"
			endpoint "http://localstack:4566/"
			enable_put
			enable_delete
			browse
			force_path_style
                }
	}

	# To have the s3prox without the route directive you
	# need to set the order which we do at the top of this file.
        s3proxy /* {
		region "us-west-2"
		bucket "my-bucket"
		index index.html
		endpoint "http://localstack:4566/"
		force_path_style
	}
}

