

0.0.0.0:80 {
	log
        route /* {
                s3proxy {
                        region "us-west-2"
                        bucket "my-bucket"
			endpoint "http://localstack:4566/"
                }
        }
}

