
:80 {
	log
	respond /health-check "OK" 200
	respond /test "This is working" 200

	# Example using strip prefix
	route /dev/testing/coverage-reports/* {
		uri strip_prefix /dev/testing/coverage-reports
                s3proxy {
                        region "us-west-2"
                        bucket "test-results"
			endpoint "http://localstack:4566/"
                }
	}

	route /animals/* {
		root * /a/long/path/we/have/for
                s3proxy {
                        region "us-west-2"
                        bucket "bkt"
			endpoint "http://localstack:4566/"
                }
	}

	route {
                s3proxy {
                        region "us-west-2"
                        bucket "my-bucket"
			index index.html
			endpoint "http://localstack:4566/"
                }
	}
}

